@import "/src/scss/variables.scss";
.container {
	width: 100%;
	background-color: $gray-color;
	margin-top: 40px;
	padding-bottom: 30px;
	.content {
		justify-content: space-between;
		margin: 0 auto;
		padding-top: 30px;
		.footer1 {
			width: 33%;
			max-width: 500px;
			background-image: url(/assets/images/logo2.png);
			background-repeat: no-repeat;
			background-position: 1px 13px;
			background-size: 80px;
			p {
				margin-top: 60px;
				font-size: 14px;
			}
			.icon-holder {
				display: flex;
				justify-content: flex-start;
				margin-top: 30px;
				i {
					margin-right: 25px;
					font-size: 18px;
				}
			}
		}
		.footer3-items {
			display: flex;
			p {
				margin-right: 10px;
				font-size: 12px;
			}
		}
		.footer2 {
			h4 {
				font-size: 16px;
			}
			p {
				margin-bottom: 16px;
				font-size: 14px;
			}
		}
		.footer3 {
			h4 {
				font-size: 18px;
			}
			p {
				font-size: 14px;
				margin-bottom: 16px;
			}
		}
	}
	@media only screen and (max-width: 861px) {
		.content {
			width: 90%;
			margin: 0 auto;
			display: block;
			.footer1,
			.footer2,
			.footer3 {
				width: 70%;
				margin: 0 auto;
			}
			.footer1 {
				padding-top: 40px;
				max-width: 90%;
				.icon-holder {
					margin-bottom: 25px;
				}
				p {
					padding-top: 10px;
					margin-top: 10px;
					margin-bottom: 25px;
				}
			}
			.show {
				display: none;
			}
			.footer3-items-mobile {
				display: block;
			}
		}
	}
}
