<div class="container">
    <div class="content">

        <div class="footer1">
            <p class="footer-rules">Online marketplace, where you can sell your stuff in support of the charity of campaign you choose.</p>
            <div class="icon-holder">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </div>
            <div class="footer3-items show">
                <p>© AllGood 2020. All Rights Reserved</p>
                <p>Privacy Policy </p>
                <p>Terms of Services</p>
            </div>
        </div>

        <div class="footer2">
            <h4>AllGood</h4>
            <p>About us</p>
            <p>Contact</p>
            <p>Help</p>
        </div>

        <div class="footer3">
            <h4>Charities</h4>
            <p>Charity/Campaign partners</p>
            <p>Sign up Charity/campaign</p>
            <div class="footer3-items footer3-items-mobile">
                <p>© AllGood 2020. All Rights Reserved</p>
                <p>Privacy Policy </p>
                <p>Terms of Services</p>
            </div>
        </div>

    </div>
</div>