<div class="container w100">
    <div class="content w70 d-flex">
        <div class="footer1 d-flex">
            <div class="items d-flex">
                <div class="item1 d-flex">
                    <p>
                        Online marketplace, where you can sell your stuff<br> in support of the charity of campaign you choose.
                    </p>
                    <div class="social-icons d-flex">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="item2 d-flex">
                    <h6>AllGood</h6>
                    <p>About Us</p>
                    <p>Contact</p>
                    <p>Help</p>
                </div>
                <div class="item3 d-flex">
                    <h6>Charities</h6>
                    <p>Charity/Campaign partners</p>
                    <p>Sign up Charity/campaign</p>
                </div>
            </div>
        </div>
        <div class="footer2 d-flex">
            <p>© AllGood 2020. All Rights Reserved</p>
            <p>Privacy Policy</p>
            <p>Terms of Services</p>
        </div>
    </div>
</div>