@import "/src/scss/variables.scss";
.background {
	background-color: $gray-color;
	.container {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background-color: $blue-background;
		clip-path: ellipse(150% 100% at 50% 0);
		-webkit-clip-path: ellipse(150% 100% at 50% 0);
		.nav {
			flex-wrap: wrap;
			.header-items {
				width: 90%;
				margin: 0 auto;
				justify-content: space-between;
				align-items: center;
				padding-top: 8px;
				color: $text-white;
				.logo {
					justify-content: left;
					img {
						max-width: 180px;
					}
				}
				.menu {
					justify-content: center;
					position: relative;
					a:nth-child(1) {
						margin-right: 20px;
					}
					a {
						position: relative;
						cursor: pointer;
						&:before {
							content: "";
							position: absolute;
							width: 0;
							height: 2px;
							bottom: 0;
							left: 0;
							background-color: $text-white;
							visibility: hidden;
							transition: all 0.3s ease-in-out;
						}
						&:hover:before {
							visibility: visible;
							width: 100%;
						}
					}
				}
				.login-icons {
					justify-content: flex-end;
					i {
						font-size: 21px;
						margin-right: 15px;
						cursor: pointer;
					}
					.fa-chevron-down {
						font-size: 13px;
						margin-left: 4px;
						margin-top: 3px;
					}
					.not {
						position: relative;
						p {
							position: absolute;
							width: 16px;
							height: 16px;
							background: $red-color;
							top: -10px;
							right: 10px;
							font-size: 12px;
							border-radius: 50%;
							cursor: pointer;
						}
					}
				}
			}
			.search-bar {
				width: 100%;
				justify-content: center;
				margin-top: 15px;
				margin-bottom: 15px;
				form {
					justify-content: center;
					margin: 0 auto;
					input {
						padding: 12px;
						padding-top: 4px;
						padding-bottom: 4px;
						outline: none;
						box-sizing: border-box;
						outline: none;
						border: none;
						height: 42px;
						width: 33.33%;
						max-width: 240px;
						&:first-child {
							border-right: 1px solid $border-color;
							border-top-left-radius: 8px;
							border-bottom-left-radius: 8px;
						}
						&:nth-child(3) {
							border-left: 1px solid $border-color;
							border-top-right-radius: 8px;
							border-bottom-right-radius: 8px;
						}
					}
					button {
						cursor: pointer;
						color: $text-white;
						background-color: $red-color;
						font-size: 20px;
						border: none;
						border-radius: 14px;
						box-sizing: border-box;
						transform: translateX(-50%);
						padding: 13px;
						margin: 0;
						align-items: center;
						justify-content: center;
						outline: none;
						height: 42px;
					}
				}
			}
		}
		.header-content {
			align-items: center;
			margin-top: 15px;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 80px;
			.header-box-holder {
				flex-direction: column;
				.green {
					border: 2px solid $green-color;
					.box-icon-holder {
						background-color: $green-color;
					}
				}
				.purple {
					border: 2px solid $purple-color;
					.box-icon-holder {
						background-color: $purple-color;
					}
				}
				.red {
					border: 2px solid $red-color;
					.box-icon-holder {
						background-color: $red-color;
					}
				}
				.header-box {
					justify-content: left;
					border-radius: 8px;
					width: 90%;
					max-width: 340px;
					margin: 0 auto;
					height: 60px;
					align-items: center;
					word-wrap: break-word;
					margin-bottom: 15px;
					text-align: left;
					box-sizing: border-box;
					padding-right: 8px;
					background-color: $dark-purple;
					.box-icon-holder {
						width: 50px;
						height: 57px;
						margin-right: 10px;
						align-items: center;
						border-radius: 6px;
						justify-content: center;
						font-size: 28px;
					}
					p {
						width: calc(100% - 50px);
						color: $text-white;
						font-size: 15px;
					}
				}
			}
			.header-img-holder {
				img {
					width: 90%;
					max-width: 600px;
				}
			}
		}
		@media only screen and (max-width: 751px) {
			clip-path: none;
			-webkit-clip-path: none;
			.nav {
				background-color: $text-white;
				flex-wrap: unset;
				align-items: center;
				justify-content: space-evenly;
				padding: 15px;
				.header-items {
					padding: 0;
					width: 50%;
					margin: 0;
					.logo {
						width: 100%;
						img {
							width: 100%;
							max-width: 160px;
						}
					}
					.menu {
						display: none;
					}
					.login-icons {
						display: none;
					}
				}
				.search-bar {
					margin: 0;
					width: 50%;
					form {
						width: 100%;
						input:nth-child(1) {
							width: 100%;
							max-width: 290px;
							background: #f4f5f9;
							transform: translateX(10px);
						}
						input:nth-child(2) {
							display: none;
						}
						input:nth-child(3) {
							display: none;
						}
						button {
							transform: translateX(0);
						}
					}
				}
			}
			.header-content {
				flex-direction: column-reverse;
				.header-img-holder {
					margin-bottom: 20px;
					width: 90%;
				}
				.header-box-holder {
					width: 90%;
				}
			}
		}
	}
}