<div class="container">
    <div class="header">
        <div class="header-items">
            <ul>
                <li> <a class="links"> Search items</a></li>
                <li> <a class="links"> Post items</a> </li>
            </ul>
        </div>
        <div class="notifications">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <img src="assets/images/notification.png">
            <img class="avatar" src="assets/images/avatar.jpg">
            <p>Username </p>
            <i class="fa fa-chevron-down down" aria-hidden="true"></i>
        </div>
        <div class="mobile-header-icon">
            <div class="clock">
                <p>9:27</p>
            </div>
            <div class="mobile-icons">
                <i class="fa fa-wifi"></i>
                <i class="fa fa-tv"></i>
                <i class="fa fa-battery-half"></i>
            </div>
            

        </div>
        <div class="search-mobile">
            <form>
                <input type="search" placeholder="Search Or Post" name="form1">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
    
            </form>   
        </div>
    </div>

    <div class="search-bar">
        <form>
            <input type="search" placeholder="Location" name="form1">
            <input type="search" placeholder="Category" name="form2">
            <input type="search" placeholder="Charity"  name="form3">
            <button>
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>

        </form>    
    </div>

    <div class="header-content">
        <div class="header-products">

            <div class="header-product">
                <div class="h-product-img">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
                <p>Turn your stuff into cash donations</p>
            </div>

            <div class="header-product">
                <div class="h-product-img">
                    <i class="fa fa-mobile" aria-hidden="true"></i>

                </div>
                <p>Turn your stuff into cash donations</p>
            </div>

            <div class="header-product">
                <div class="h-product-img">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </div>
                <p>Turn your stuff into cash donations</p>
            </div>

        </div>
        <div class="header-img">
            <img  src="assets/images/heroimg.png">
        </div>
        <div class="header-img header-img-mobile">
            <img  src="assets/images/mobile.png">
        </div>

    </div>
</div>