<div class="container w100">
    <div class="content d-flex w90">
        <div class="img-holder">
            <img src="assets/images/img3.png" alt="">
        </div>
        <div class="login-holder">
            <div class="login-text">
                <h4>Post An Item For Sale</h4>
                <p>To post an item for sale - please register</p>
                <p>or sign in ig you are already registered with allgodd</p>
            </div>
            <div class="button-holder">
                <button class="red">Sign Up</button>
                <button class="transparent">Sign In</button>
            </div>
        </div>
    </div>
</div>