@import "/src/scss/variables.scss";
.container {
    background-color: $blue-background;
    .content {
        justify-content: space-around;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: center;
        margin: 0 auto;
        .img-holder {
            width: 50%;
            img {
                width: 100%;
                max-width: 500px;
            }
        }
        .login-holder {
            width: 50%;
            .login-text{
                color: $text-white;
                margin-bottom: 30px;
                h4 {
                    font-weight: normal;
                }
            }
            .button-holder {
                button {
                    margin: 0 auto;
                    margin-right: 15px;
                    width: 90%;
                    width: 140px;
                    padding: 10px;
                    border-radius: 8px;
                    font-size: 16px;
                    cursor: pointer;
                    color: $text-white;
                }
                .red {
                    color: $text-white;
                    background-color: $red-color;
                    border: 1px solid $red-color;
                }
                .transparent {
                    background-color: transparent;
                    border: 1px solid $text-white;
                    
                }
            }

        }
        @media only screen and (max-width: 1150px) {
            flex-direction: column-reverse;
            .login-holder {
                margin: 0 auto;
                margin-bottom: 40px;
                width: 90%;
                max-width: 500px;
                text-align: center;
                .button-holder {
                    .transparent {
                        margin-top: 15px;
                    }
                }
            }
            .img-holder {
                width: 90%;
                text-align: center;
                img {
                    max-width: 400px;
                }
            }
        }
    }
}