<div class="container">
    <div class="content-holder">
        <div class="login-image">
            <img src="assets/images/img3.png">
        </div>
        <div class="login-form">
            <h3>
                Post an item for sale
            </h3>
            <p>
                To post an item for sale - please register
                or sign in ig you are already registered with allgodd
            </p>
            <div class="button-holder">
                <button>Sign Up</button>
                <button>Sign In</button>
            </div>
        </div>
    </div>
</div>