<div class="container">
    <div class="content">
        <div class="content-items">
            <div class="title">
                <h2>Are you a Charity or Organization looking to Fundraise?</h2>
            </div>
            <p>
                Want to register with AllGood.market so people can donate the 
                proceeds of their sales to you? Please contact us at info@allgood.market or complete out online form.
            </p>
            <button>Sing up charity/campaign</button>
        </div>
        <div class="circle1">
            <div class="circle2">

            </div>
        </div>
    </div>
</div>