@import "/src/scss/variables.scss";
.container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #f4f5f9;
    .title-holder{
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
        h2 {
            margin-bottom: 1.25rem;
            color: $dark-purple;
        }
        p {
            color: $red-color;
        }
        .separator {
            height: 2px;
            width: 100%;
            max-width: 120px;
            background-color:$light-purple;
            margin: 0 auto;
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
    .icons-holder {
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 60px;
        max-width: 1250px;
        .icon-holder {
            position: relative;
            width: 240px;
            .first-arrow {
                position: absolute;
                width: 140px;
                transform: rotate(45deg);
                top: -50px;
                left: -113px;
            }
            .icon-img {
                width: 100%;
                .main-icon-img {
                    width: 100%;
                }
                .connected-arrows {
                    position: absolute;
                    bottom: 64%;
                    width: 110px;
                }
                .last-arrow {
                    position: absolute;
                    width: 830px;
                    transform: rotate(-2deg);
                    left: -190%;
                    top: 31%;
                }
            }
            .icon-text {
                width: 90%;
                text-align: center;
                margin: 0 auto;
                h5 {
                    font-size: 16px;
                }
                p {
                    font-size: 15px;
                }
                span {
                    color: $red-color;
                }
            }
        }
    }
    .video-holder {
        margin: 0 auto;
        max-width: 1250px;
        justify-content: space-around;
        align-items: center;
        margin-top: 220px;
        margin-bottom: 50px;
        .image-video-holder {
            width: 90%;
            max-width: 400px;
            img {
                width: 100%;
            }
        }
        .video-text {
            width: 90%;
            max-width: 350px;
            text-align: center;
            margin-right: 10px;
            p {
                color: $gray-text;
            }
        }
    }
	@media only screen and (max-width: 1420px) {
        .icons-holder{
            .icon-holder {
                .last-arrow {
                    display: none;
                }
            }
        }
        .video-holder {
            margin-top: 40px;
            .video-text {
                display: none;
            }
            .image-video-holder {
                max-width: 600px;
                .video-title {
                    display: block;
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
    }
	@media only screen and (max-width: 1150px) {
        .icons-holder {
            overflow-x: scroll;
            .icon-holder{
                .icon-img {
                    max-width: 210px;
                }
                margin-right: 40px;
                flex-shrink: 0;
                .first-arrow {
                    display: none;
                }
            }
            
        }
    }
}