<div class="holder">
<div class="container">
    <div class="title">
        <h1>How it Works</h1>
        <p>Learn more about AllGood</p>
        <div class="hr-line"></div>
    </div>

    <div class="content">

        <div class="icon-holder">
            <img class="icon" src="assets/images/icon1.png">
            <img src="assets/images/arrow1.png">
            <img class="icon-arrow" src="assets/images/arrow2.png">

            <h3>Post An Item</h3>
            <p>
                Rerister to post an
                item for sale.
                <span>Register now!</span>
            </p>
        </div>

        <div class="icon-holder">
            <img class="icon" src="assets/images/icon2.png">
            <img class="icon-arrow" src="assets/images/arrow3.png">

            <h3>Select and Ogranization
            </h3>
            <p>
                Rerister to post an
                item for sale.
                <span>Register now!</span>
            </p>
        </div>

        <div class="icon-holder">
            <img class="icon" src="assets/images/icon3.png">
            <img class="icon-arrow" src="assets/images/arrow4.png">
            <h3>Buyer Makes the Payment
            </h3>
            <p>
                Rerister to post an
                item for sale.
                <span>Register now!</span>
            </p>
        </div>

        <div class="icon-holder">
            <img class="icon" src="assets/images/icon4.png">
            <img class="last-arrow" src="assets/images/arrow5.png">
            <h3>Post an Item
            </h3>
            <p>
                Rerister to post an
                item for sale.
                <span>Register now!</span>
            </p>
        </div>
    </div>

    <div class="video-container">
        <div class="video-image">
            <img src="assets/images/img4.png">
        </div>
        <div class="video-text">
            <h3>
                Donate
            </h3>
            <p>
                AllGood send the proceeds dorectly to the charity-campaign you choose to support
            </p>
        </div>
    </div>

</div>
</div>